
.Navbar {
   background-color: rgb(221, 159, 221);
   width: 100%;
   height: 70px;
   display: flex;
  
   
}
.Navbar-left{
  padding: 18px;
  flex:50%;
}
.Navbar-right{
  flex:50%;
}
.links a{
font-size: 25px;
margin-left: 15px;
}
.signin{
  display: flex;
  background-image: url("./assets/weather.jpg");
  background-size: cover;
  position: fixed;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.9;
  

}
.signin-left{
  flex:50%;
  
}
.signin-right{
  flex:50%;
}
.login{
   padding-top: 40%;
   padding-left: 200px;
   text-align: center;

}
.login-form{
  width: 500px;
  height: 400px;
  font-size: 25px;
  background-color: rgb(218, 188, 188);
  border: 2px solid greenyellow;
 
  
}
.login input{
  font-size: large;
  margin: 0;
  border-radius: 2px round;
}
.login-button{
  padding: 10px 20px;
  background-color:lightgreen;
  font-size: 30px;
}
.login-button:hover{
  background-color: green;
}
.weather{
  background-color: cadetblue;
  width: 100%;
  height: 80px;
  
}
.weather-head{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.weather-search input{
  width: 40%;
  margin-top: 10px;
  height: 50px;
  position: relative;
  left: 450px;
  border: 2px solid aqua;
  font-size: 25px;
  background-color: burlywood;
  
  

}
.weather-result{
  width: 100%;
  height: 450px;
  margin: auto;
  border:1px solid darkcyan;
}
.weather-button{
  padding: 10px 20px;
  background-color:rgb(135, 216, 253);
  font-size: 30px;
  cursor: pointer;
}
.weather-fav{
  padding: 10px 20px;
  background-color:rgb(26, 226, 19);
  font-size: 30px;
  cursor: pointer;
}
.weather-his{
  padding: 10px 20px;
  background-color:rgb(231, 18, 18);
  font-size: 30px;
  cursor: pointer;
}
.Api-text{
   padding: 5px 1px;
   text-align: center;
}
.Api-img{
  text-align:center;
  margin:10px;
  
}
.Api-result table{
  text-align: center;
  width: 100%;
  height: 350px;
}
